.posicion{
  position: relative;
  width: 100%;

}
#cabecera {
    /* estilo de cabecera*/
    background-color: white;
    text-align: center;
    @extend.posicion;
  
  }
  @import "animaciones";
  #cabecera img {
    /*estilo de la imagen de la cabecera*/
    border-radius: 100px;
    margin: auto;
    padding: 3%;
    animation: bounce-in-top 1.5s both;
  
  }