.posicion{
  position: relative;
  width: 100%;

}
#cabecera {
    /* estilo de cabecera*/
    background-color: white;
    text-align: center;
    @extend.posicion;
  
  }
  @import "animaciones";
  #cabecera img {
    /*estilo de la imagen de la cabecera*/
    width: 400px;
    height: 400px;
    border-radius: 100px;
    padding: 30px;
    animation: bounce-in-top 1.5s both;
  
  }