.container-fluid {
    /* configuracion de toda la seccion*/
    margin: 0;
    background-color: #ffbf98;
  }
  
  .row {
    /* configuracion de un div*/
    margin: auto;
    padding: 30px;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
    background-color: #ffbf98;
    font-family: 'Pompiere', cursive;
    font-size: 2rem;
  }
  .col-lg-12{
    @extend.posicion;
    text-align: center;
  }
  
  
  .form-control{
    @extend.posicion;
    position:relative;
    width: 100%;
    
  }
  .form-group{
    @extend.posicion;
    position:relative;
    width: 100%;
  }
  .col-lg-6{
    width: 50%;
  }
  .col-lg-12 {
    @extend.posicion;
    text-align: center;
    img{
      border-radius: 30px;
    }
  }

  .row h2 {
    /* configuracion de letra del titulo*/
    font-family: 'Skranji', cursive;
    text-align: center;
  }
  @import "animaciones";
  .animacion{
    animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .thumbnail img {
    /* animacion de imagenes*/
    @extend.animacion;
    border: solid 4px white;
    border-radius: 30px;
  }
  
  .caption {
    @extend.animacion;
  }
  
  .row img {
    margin: 20px;
    padding: 3px;
  }