footer {
    /* configuracion del pie de pagina*/
    @extend.posicion;
    bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 15px;
    font-family: 'Pompiere', cursive;
    font-size: 1rem;
    background-color: #ffa066;
  }