@media screen and (max-width: 450px){    
.img-rounded{
    width: 150px;
    height: 150px;
        }
    
.nav{
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    justify-content: center;
}
}